<html>
    <body>
    </body>
    <link href="pure.css" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
    <body style="background-color:#000">
        <div class="canvas-container">
            <canvas id="flow-canvas" width="900px" height="700px"></canvas>
        </div>
        <div id="particle-table" class="selector-table">
            
        </div>
    </body>
    <script src="underscore.js"></script>
    <script src="jquery.js"></script>
    <script src="dataParser.js"></script>
    <script src="Vector2.js"></script>
    <script src="particle.js"></script>
    <script src="game.js"></script>
    <script type="text/template" id="particle-row-template">
        <div class="element <%=odd%>" style='border-color:<%=color%>;'>
            <div class="element-text"><%= name %></div>
            <button class="add-button pure-button"  onclick="addParticle(<%= period %>, 150, '<%=color%>');//time period , radius">add</button>
        </div>
    </script>
</html>