.canvas-container{
    position: fixed;
    width: 100%;
    height: 100%;
    padding-right: 300px;
}


#flow-canvas{
    width: 900px;
    height: 700px;
}
.selector-table{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 320px;
    height: 400px;
    background-color: white;
    overflow: scroll;
    height: 100%;
}
.element{
    box-sizing: border-box;
    padding: 10px;
    min-height: 50px;
    border-style: solid;
    border-width: 0 0 0 20px;
    border-color: #AAA;
    background-color: #FFF;
    background-color: black;
    color: #FFF;

}
.element-odd{
    background-color: #222;
}
.element-text{
    position: absolute;
    max-width: 250px;
}
.element-color-indicator{
    position: absolute;
    left: 0px;
    width: 10px;
    height: 50px;

    background-color: white;
}
.add-button{
    position: absolute;
    right: 5px;
}